---
import config from "@/config/config.json";
import {
  IoLogoFacebook,
  IoLogoLinkedin,
  IoLogoPinterest,
  IoLogoTwitter,
} from "react-icons/io5";

const { base_url } = config.site;
const { title, description, slug, className } = Astro.props;
---

<ul class={`${className}`}>
  <li class="inline-block">
    <a
      aria-label="facebook share button"
      href={`https://facebook.com/sharer/sharer.php?u=${base_url}/${slug}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoFacebook />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="twitter share button"
      href={`https://twitter.com/intent/tweet/?text=${title}&amp;url=${base_url}/${slug}`}
      target="_blank"
      rel="noreferrer noopener"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" style="transform: scale(0.85);">
      <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
    </svg>
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="linkedin share button"
      href={`https://www.linkedin.com/shareArticle?mini=true&url=${base_url}/${slug}&title=${title}&summary=${description}&source=${base_url}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoLinkedin />
    </a>
  </li>
  <li class="inline-block">
    <a
      aria-label="pinterest share button"
      href={`https://pinterest.com/pin/create/button/?url=${base_url}/${slug}&media=&description=${description}`}
      target="_blank"
      rel="noreferrer noopener"
    >
      <IoLogoPinterest />
    </a>
  </li>
</ul>
